---
import Button from '../../../components/Button.astro'
import Input from '../../../components/Input.astro'
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Input MFA">
  <form action="/api/auth/mfa/validate" method="post">
    <Input label="Digits" type="text" name="digits" />
    <Button type="submit">confirm</Button>
  </form>
</Layout>
